mysql:
  host: ""
  port: ""
  user: ""
  pass: ""
  schema: ""
  config: ""

telegram:
  chatid: ""
  token: ""

aws:
  id: ""
  key: ""

cloudflare:
  api: ""
  key: ""
  mail: ""

west:
  api: ""
  account: ""
  key: ""
  hold: ["abc.com", "def.com", "google.com"]
  icp: ""
